body
{
	background-color:turquoise;
}

.login_div1 , .login_div2
{
		background:darkturquoise;
		padding: 10px;
		float: none;
		border-radius: 15px;
}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}

#heading{
    color:black;
    font: size 41px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}